.ad-bottom {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .ad-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgb(211, 242, 249); /* 広告が透明な場合の背景 */
    padding-bottom: 10px;
  }
}